.wrap {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 170px;
}

.title {
  color: midnightblue;
  font-size: 16px;
}

.price {
  color: dimgrey;
  font-size: 16px;

}

.color {
  color: black;
  font-size: 13px;
}

.sku {
  font-size: 13px;
}

.cardbutton {
  font-size: 13px;
  background-color: cadetblue;
  border-radius: 3px;
  padding: 6px;
}

.favoriteStyle {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.favoriteStyle.selected {
  path {
    fill: red;
  }

  cursor: pointer;
}

.footerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}