.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: cadetblue;
  color: white;
  padding-left: 25px;
  margin-bottom: 30px;
}

.iconsBlock {
  display: flex;
  align-items: center;
}

.iconBlock {
  padding: 10px;
}
